aiofiles==24.1.0
albucore==0.0.13
albumentations==1.4.10
annotated-types==0.7.0
anyio==4.6.0
astor==0.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.12.14
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
configobj==5.0.8
configparser==7.1.0
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
etelemetry==0.3.1
filelock==3.15.4
fire==0.7.0
fitz==0.0.1.dev2
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.55.7
frontend==0.0.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
idna==3.10
imageio==2.37.0
imgaug==0.4.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.6.2
looseversion==1.3.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.10.0
networkx==3.4.2
nibabel==5.2.1
nipype==1.8.6
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
packaging==24.2
paddleocr==2.9.1
paddlepaddle-gpu==2.6.2
pandas==2.2.2
pathlib==1.0.1
pillow==11.1.0
protobuf==3.20.2
prov==2.0.1
pyclipper==1.3.0.post6
pydantic==2.10.6
pydantic_core==2.27.2
pydot==3.0.1
PyMuPDF==1.25.2
PyMuPDFb==1.24.9
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytils==0.4.1
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.2
RapidFuzz==3.11.0
rdflib==6.3.2
requests==2.32.3
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
setuptools==75.8.0
shapely==2.0.6
simplejson==3.19.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.45.3
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2025.1.10
tomli==2.2.1
tools==0.1.9
tqdm==4.67.1
traits==6.3.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.3.0
uvicorn==0.34.0
Werkzeug==3.0.4